input {
  border: 2px solid deepskyblue;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 0 0 10px 0;
  width: 233px;
  position: relative; }

.form1 {
  text-align: center; }

.buttons {
  text-align: center; }

button {
  margin-top: 150px;
  -moz-box-shadow: inset 0px 0px 0px -16px #cae3fc;
  -webkit-box-shadow: inset 0px 0px 0px -16px #cae3fc;
  box-shadow: inset 0px 0px 0px -16px #cae3fc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee));
  background: -moz-linear-gradient(center top, #79bbff 5%, #4197ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color: #79bbff;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 1px;
  border: 4px solid #469df5;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  height: 65px;
  line-height: 55px;
  width: 131px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 2px 0px #287ace; }

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff));
  background: -moz-linear-gradient(center top, #4197ee 5%, #79bbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color: #4197ee; }

.button:active {
  position: relative;
  top: 1px; }
